KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_LISTING_TOPIC=vehicle-listing-events
KAFKA_LISTING_DLQ_TOPIC=vehicle-listing-events-dlq
KAFKA_CONSUMER_GROUP_ID=listing-history-consumer-group

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=vehicle_listing_db
MYSQL_USER=root
MYSQL_PASSWORD=password

PRODUCER_PORT=8081
CONSUMER_PORT=8082
FRONTEND_PORT=5173
